<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-4" >
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section 
              class="d-flex justify-content-between p-4 text-white"
               style="background-color: #313391"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Restez connecter avec nous sur les résaux sociaux:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="https://www.linkedin.com/in/charnelle-kapawou-b30471195?lipi=urn%3Ali%3Apage%3Aprofile_edit_contact_info%3B46a8cc38-72d0-4d7e-b711-0aa847955f27" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/chacha98" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          
                    
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">À Propos</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                NoteApp est une plateforme dédiée à la planification des tâches. Vous pouvez enregistrer vos notes en longueur de journée et les suivre en toute sécurité, tout passe par un système d'authentification. Alors ne perdez plus du temps et commencer à enregister vos notes.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">authentification </h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a routerLink="login" > Connexion</a>
              </p>
              <p>
                <a routerLink="inscription" >Inscription</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Menu</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a routerLink="listenote">Liste des Notes</a>
              </p>
              <p>
                <a routerLink="new_note">Nouvelle Note</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contacts</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Cameroun, Yaoundé</p>
              <p><i class="fas fa-envelope mr-3"></i> kapawouchanelle@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +237 690 507 334</p>
  
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->