<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-blue-600 shadow-lg">
        <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
          <div class="container-fluid">
            <button (click)="goToPageUne()" class="text-xl text-white">Retour</button>
            <a class="text-xl text-white" > Note</a>
          </div>
            <div class="flow-root">
                <div class="float-right">
                    <button type="button" class="bg-blue-600 text-white shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-9 h-9">
                      Save
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <br>
    
</div>


