<app-header></app-header>
<section class="vh-100">
	<div class="container-fluid h-custom">
	  <div class="row d-flex justify-content-center align-items-center h-100"> 
        
		<div class="col-md-8 col-lg-6 col-xl-4 offse t-xl-1  order-2 order-lg-1">
		<h1> Liste des Notes </h1>
            <p> </p>
                <p></p>
        <div *ngFor="let elt of note">     
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-start">
             <img src="assets/images/list_note.png" class = "list_note">
             <div class="ms-2 me-auto">
               
                <div class="fw-bold"><a routerLink="{{elt.id}}">Note {{elt.id}}</a></div>
                {{elt.title}}
            </div>
            
            </li>
            <!--li class="list-group-item d-flex justify-content-between align-items-start">
                <img src="assets/images/list_note.png" class = "list_note">
                <div class="ms-2 me-auto">
                
                <div class="fw-bold"> <a href="#">Note 2</a></div>
                c'est encore un exemple
            </div>
            
            </li> 
           
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img src="assets/images/list_note.png" class = "list_note">
                <div class="ms-2 me-auto">
                 
                <div class="fw-bold">
                  
                    <a href="#">Note 3</a></div>
                petite description de la note
            </div>
            
            </li-->
        </ul>
     </div>  
        <p><a routerLink="/new_note"> 
            <i class="bi bi-plus-circle icon_new" ></i>
        </a></p>
		</div>
		<div class="col-md-9 col-lg-6 col-xl-5 order-1 order-lg-2 ">
            <img src="assets/images/images_home.webp"
			class="img-fluid" alt="Sample image" width="100%" height="100%">
		</div>
        
      
	  </div>
      
      
	</div>

	
  </section>
<app-footer></app-footer>
  
  

         
           